{% extends 'base.html' %} 
{% block content %}
    <h1 class="text-center mb-3">Pizza Shop</h1>
    <h4 class="text-center mb-3">Please order here</h4>
    {% if pizzas %} 
        {% for pizza in pizzas %}
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <!-- <div class="col">
                            <span class="lead">{{ pizza.pizza_type }}</span>
                        </div>
                        <div class="col">
                            <select>
                                <option value="Medium">Medium</option>
                                <option value="Large">Large</option>
                            </select>
                        </div>
                        <div class="col text-right">
                            <button type="button" class="btn btn-primary pull-right">Order</button>
                        </div> -->
                        <div class="d-flex justify-content-between ">
                            <div class="pizza-name" style="width: 40%; align-items: center;">
                                <span class="lead p-2">{{ pizza.pizza_type }}</span>
                            </div>
                            <select>
                                <option value="Medium">Medium</option>
                                <option value="Large">Large</option>
                            </select>
                            <button type="buton" class="btn btn-primary">Order</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %} 
    {% else %}
    <p>No orders available</p>
    {% endif %} 
{% endblock %}
