{% extends 'base.html' %} 
{% block content %}
    <h1 class="text-center mb-3">Pizza Shop</h1>
    <h4 class="text-center mb-3">Please enter your details</h4>
    {% if pizza %} 
        <div class="card mb-3">
            <div class="card-body">
                <form action="/result" method="post">
                    {% csrf_token %}
                    <div>
                        <input type="hidden" name="id" value={{id}} />
                        <div class="text-center mb-2">
                            <span>Pizza: {{ pizza }}</span>
                            <input type="hidden" name="pizza" value={{pizza}} />
                        </div>
                        <div class="text-center mb-3">
                            <span>Size: {{ size }}</span>
                            <input type="hidden" name="size" value={{size}} />
                        </div>
                        <div class="form-group row mb-3">
                            <label for="name" class="col-sm-2 col-form-label">Name: </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Enter your name" name="name" required/>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="email" class="col-sm-2 col-form-label">Email: </label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" placeholder="Enter your email" name="email" id="email"required/>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="phone" class="col-sm-2 col-form-label">Phone: </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Enter your phone" name="phone" id="phone" required/>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="buton" class="btn btn-primary">Complete Order</button>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    {% else %}
        <p class="text-center">Pizza not available</p>
        <p class="text-center">Go back to <a href="/">Home</a></p>
    {% endif %}
{% endblock %}
